*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body{
    color: #3e3e3e;
    background: #531017;
}

article{
    padding-bottom: 20px;
    min-height: 350px ;

    background: #3e3e3e;
    text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
}
blockquote img{
    display: block;
    margin-left: 15%;
    width: 200px;
}
.jumbotron h1 span{
    display: block;
    font-size: 0.8em;
    font-style: italic;
}

/* For when i have fixed top navbar
.fix-fixed{
    margin-top: 70px;

}*/

.background{
    background: #3e3e3e;
    padding-top: 15px;
    padding-bottom: 20px;
}
/*IMG HEADER*/
.img-header{
    background: #3e3e3e;
    padding: 5px 5px 20px 5px;
}

/*Welkom BIGIMG*/
.bigImage{
    padding: 10px;
    background: lightgray;
}
.bigImage img{
    border: 1px solid darkgray;
    width: 100%;

    text-align: center;
}
.bigImageFrame{
    padding: 0px 20px 0px 20px;
}
.bigImageText{
    padding: 5px;
    background: lightgray;
}
.bigImageText h4{
    padding-left: 28px;
}

/*NAVBAR*/
a.lang{
    display: block;

    width: 90px;
    height: 50px;
    margin-bottom: 10px;
}
a.lang:hover{
    cursor: pointer;
}
a.lang.nl{
    background: url("../media/flag_nl.png") center center no-repeat;
    background-size: contain;
}
a.lang.en{
    background: url("../media/flag_en.png") center center no-repeat;
    background-size: contain;
}

.navbar{
    background: #531017;
    margin-bottom: 1px;
    border-color: black;
}
.navbar-default .navbar-nav > li > a{
   color: #CFCFCF;
}
.navbar-default .navbar-nav > li:hover > a{
    background: #410516;
    color: white;
}
.navbar-nav > li.active > a{
   background: #410516!important;
   color: white!important;
}
.navbar-brand{
    padding: 0px;
}

.logo-img{
    margin-left: 4px;
    margin-right: 1px;
    width: 52px;
    height: 52px;
    display: inline-block;

    background: url('../media/logo.jpg') center center no-repeat;
    background-size: contain;
}
.logo-text{
    color: white;
    display: inline-block;

    position: relative;
    top: -22px;

    margin: 2px 6px;
}

/*INFORMATIE BUTTONS SECTIE*/
.heightBond{
    height: 100%;
    padding: 0px;
    background: #3e3e3e;
}

.informatiePaginas{
    padding-top: 5%;
    min-height: 100%;
}
.informatiePaginas div{
    padding: 20px;
}
.informatiePaginas div a.btn{
    width: 300px;
    height: 50px;

    line-height: 35px;
}

.inline li{
    display: inline;
}
.inline li:last-of-type{
    display: block;
}

/*afspraak maken button has been removed and replaced by a normal btn
.afspraakButton{
    width: 100%;
    height: 300px;

    background: url('../media/conversation.png') center center no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 365px;
}
.afspraakButton:hover{
    color: #800000;
    background: url('../media/conversationInverse.png') center center no-repeat;
    background-size: contain;
}*/

/*Carousel (#homeSlider)*/
.carouselContainer{
    height: 400px;
}
#homeSlider{
    /*margin-top: 50px;
    position: fixed;
    top: 0px;*/
    width: 100%;

    background: #531017;
}
.carousel-inner img{
    width: auto;
    min-height: 400px;
    max-height: 400px;
    margin: 0 auto;
}
.carousel-inner{
    overflow: hidden;
}

.carousel-indicators li{
    border-color: darkslategray;
}
.carousel-indicators li.active{
    background: darkslategray;
}
.carousel-indicators li:hover{
    background: black;
}
 
.carousel-control.left{
    background-size: auto 100%;
    background-position: right;
}
.carousel-control.right{
    background-size: auto 100%;
    background-position: left;
}
.carousel-control{
    /*width: 0px;*/
    color: darkslategrey;
}
.carousel-control:hover{
    color: black;
}

/*
.carousel-indicators,
.carousel-control{
    display: none;
}
#homeSlider:hover .carousel-indicators,
#homeSlider:hover .carousel-control{
    display: block;
}
*/
/*FORM GENERAL*/
.formBackground{
    color: darkslategrey;
    background: lightgray;

    padding-top: 10px;
    padding-bottom: 10px;
}
.form-control{
    padding: 6px 6px;
}

/*AFSPRAAK FORM*/
.time{
    padding-left: 0px;
}
.time:first-child:first-child{
    width: 100%;
}
.time div{
    width: 200px;
    padding: 0px;
}
.devider{
    padding: 0px 5px;
    font-weight: bolder;
    font-size: 1.5em;
}

/*AANMELD FORM*/


/*GemeentePost*/
.postSection{
    background: #3e3e3e;

    padding: 10px;
}
.userPost{
    padding: 10px;

    color: #e3e3e3;
    background: #535353;
}
.userDetails{
    
}
.userDetails h4{
    padding: 10px 0px 5px 13px;
}
.userDetails p{
    margin-bottom: 0px;
}
.userDetails small{
    color: #aab3aa;

    margin-top: 5px;
}
.userComment{
    padding: 5px;
}

/*Login section*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0px;
    overflow: hidden;
    /*background-color:rgba(255,255,255, 0.8);*/
}
#login-dp .help-block{
    font-size:12px;   
}
#login-dp .bottom{
    /*background-color:rgba(255,255,255, 0.8);*/
    border-top:1px solid #ddd;
    clear: both;
    padding:14px;
}
#login-dp .social-buttons{
    margin: 12px 0px;   
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

/*FOOTER*/
.footer{
    padding: 15px;

    color: #cba;
    background: #531017;
}
footer ul{
    list-style-type: none;
}
footer ul h5{
    font-size: 1.2em;
}
footer a{
    color: whitesmoke;
    line-height: 1.1em;
}
footer ul li a:hover {
    text-decoration: none;
    color: steelblue;
}
footer > div > ul{
    padding: 10px 0px;
    padding-left: 15px;
}
footer > div:first-of-type > ul{
    border-left: solid black 1px;
}
footer > div > ul{
    min-height: 85px;
    border-left: solid black 1px;
}
span[class*="flaticon"]{
    display: inline;

    font-size: 300%;
}

/*MEDIA*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    footer > div:first-of-type > ul{
        border: 1px solid transparent;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}